body,
html {
  color: #373737;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  background: #D9D9D9;
  font-size: 22px;
  height: auto;
  padding-top: 70px;
}

.logged-in nav {
  top: 32px;
}

* {
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
p,
ul,
ol {
  display: block;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}





/************** Images ***************/

img {
  max-width: 100%;
}





/******** Basic Typography **********/

a {
  text-decoration: none;
  transition: border 0.22s;
}

p {
  font-size: 1.8rem;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.8rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4.6rem;
  }

  h2 {
    font-size: 3.8rem;
  }

  p {
    font-size: 2rem;
  }
}

@media (min-width: 1070px) {
  h1 {
    font-size: 5.6rem;
  }

  h2 {
    font-size: 4.8rem;
  }

  p {
    font-size: 2.4rem;
  }
}





/*************** GRID ****************/

.wrapper {
  background-color: white;
}

.container--max {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 6rem;
}

.grid--flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.grid--flex-start {
  align-items: flex-start;
}

.grid--75 {
  width: 75%;
}



/* all cols even */

.col {
  flex: 1;
  padding: 2rem;
}

.col--25 {
  width: 25%;
}

.col--33 {
  width: 33%;
}

.col--50 {
  width: 50%;
}





/*************** MEDIA ***************/

@media (max-width: 767px) {
  .container--max {
    padding: 0 1rem;
  }

  .grid--flex {
    display: block;
  }
}

.card--row {
  margin-bottom: 4rem;
}

.card {
  background-color: white;
  box-shadow: 0 0 12px 1px rgba(40, 40, 40, 0.33);
  color: white;
  margin: 0 3rem 4rem;
  padding: 0;
}


.card:first-child {
  margin-left: 0;
}

.card:last-child {
  margin-right: 0;
}

.card h2 {
  font-size: 3.2rem;
}

.card h3 {
  font-size: 4.8rem;
}

.card h2,
.card h3 {
  margin-bottom: 0.4rem;
}

.card p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.card h3+p {
  font-size: 1.6rem;
}

.card ul {
  font-size: 1.8rem;
}

.card li {
  margin-bottom: 0.6rem;
}

.card a {
  margin: 1rem auto 0;
  max-width: 240px;
}

.card--top {
  background: #9f64ea;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  min-height: 330px;
  padding: 3rem 3rem 4rem;
  text-align: center;
}

.card--bottom {
  background: url("./images/wave-card.svg") no-repeat -5px -2px;
  background-size: 105%;
  color: #4e4e61;
  min-height: 260px;
  padding: 5rem 3rem 3rem;
}

.card--top-blue {
  background: #2196f3;
}

.card--top-blue+.card--bottom {
  background: url("./images/wave-card2.svg") no-repeat -5px -2px;
  background-size: 111%;
}

.card--top-violet {
  background: #04caac;
}

.card--top-violet+.card--bottom {
  background: url("./images/wave-card3.svg") no-repeat -5px -1px;
  background-size: 106%;
}



.contentblock {
  background-color: white;
  margin: 0 3rem 4rem;
  padding: 0;
}

.contentblock p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.contentblock h2 {
  font-size: 3.2rem;

}

.contentblock h2 + p {
  align-items: flex-end

}

.content-area {
	width: 100%;
	padding: 80px 0;
	min-height: 40px;
	overflow: hidden;
	background-color: white;
}
.content-area:nth-of-type(odd) {
	background-color: #EDEDED;
}

.container {
	width: 84%;
	margin: 0 auto;
	min-height: 40px;
	overflow: hidden;
}

.half {
	width: 46%;
	min-height: 40px;
	overflow: hidden;
}

.half:nth-of-type(odd) {
	float: left;
}
.half:nth-of-type(even) {
	float: right;
}

#section:nth-of-type(odd) #halfimg {
	float: right !important;
}
#section:nth-of-type(odd) #halftext {
	float: left !important;
}

.half h2 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.half p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}


/******* Links ********/

a {
  color: #04caac;
}

p a {
  text-decoration: underline;
}

.link--btn {
  background-color: #9f64ea;
  border-radius: 26px;
  color: white;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 6px 0;
  text-align: center;
  text-decoration: none;
  min-width: 160px;
  transition: background-color 0.2s;
}

.link--btn:hover {
  background-color: #4e4e61;
  color: white;
  text-decoration: none;
}

@media (min-width: 768px) {
  .link--btn {
    background-color: white;
    color: #4e4e61;
  }
  .link--btn:hover {
    background-color: white;
    color: #9f64ea;
  }
}





/*************** Lists ***************/

ul {
  margin: 0;
  padding: 0 0 0 2rem;
}

.list--unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list--inline,
.menu,
.menu ul {
  display: inline-flex;
  list-style-type: none;
}

.list--inline li,
.menu ul li,
.menu li {
  margin-left: 1rem;
}





/***************  NAV  ***************/

nav {
  background-color: white;
  border-bottom: 1px solid #ededed;
  padding: 1rem 0 0.2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

nav a {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 6px 0;
  text-align: center;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  color: #4e4e61;
  transition: border 0.2s;
}

nav a:not(.custom-logo-link):hover {
  border-bottom-color: #9f64ea;
  text-decoration: none;
}

nav .button {
  display: inline-block;
  float: right;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 6px 0;
  text-align: center;
  text-decoration: none;
  background-color: #2196f3;
  border-radius: 26px;
  color: white;
  margin-left: 4rem;
  min-width: 100px;
  transition: background-color 0.2s;
}

nav .button:hover {
  background-color: #9f64ea;
}

nav .menu li {
  line-height: 1;
  margin-top: 2px;
  margin-left: 5rem;
}

.menu, .menu-menu-1-container {
  float: right;
}

.menu-toggle {
  display: none;
}

.custom-logo-link img {
  height: 3.6rem;
  width: auto;
}

@media (max-width: 767px) {
  nav .list--inline li {
    margin-left: 0;
    margin-right: 2rem;
    margin-top: 1rem;
  }
  nav .list--inline li a {
    font-size: 1.6rem;
  }
}





/****** hero *********/

.hero {
  background-color: white;
  color: #4e4e61;
  display: flex;
  padding: 2rem 2rem 4rem;
}

.hero--simple {
  background-color: #04caac;
  color: white;
  margin: 0 auto 4rem;
  padding: 10rem 0 12rem;
}

@media (min-width: 768px) {
  .hero {
    margin: 0;
    overflow: hidden;
    padding: 0 0 4rem 0;
    position: relative;
  }

  .img--holder {
    position: relative;
    width: 65%    
    }
    
    
  .img--holder svg,
  .img--holder img {
    left: 0;
    position: absolute;
    top: 10rem;
    }

  .hero--content h1 {
    line-height: 1.3;
    margin-bottom: 2rem;
    margin-top: 8rem;
  }
  .hero--content h1+p {
    font-weight: 200;
    margin-bottom: 2rem;
  }

  .hero--content {
    display: block;
    float: right;
    margin-bottom: 5rem;
    max-width: 90%;
    position: relative;
    z-index: 2;
  }
  .hero--content a {
    margin: 10rem 0 1rem;
  }
  .hero--content a+p {
    color: white;
    font-size: 14px;
    font-weight: 200;
  }
  .hero--content a+p a {
    color: white;
    text-decoration: underline;
  }

  .hero--small {
    background: white;
  }
  .hero--small .hero--content {
    margin: 0 auto 5rem;
    max-width: 75%;
  }
}

.colorblock {
  background: #2196f3;
  color: white;
  padding: 10rem 0 12rem;
}

.colorblock h2 {
  margin-bottom: 2rem;
}

.colorblock p {
  margin-bottom: 3rem;
}

.colorblock a+p {
  font-size: 1.6rem;
  margin-top: 2rem;

}

.colorblock a+p a {
  color: white;
  padding: 10rem 0 12rem;
}


footer {
  background-color: #00a6ff;
  overflow: hidden;
  position: relative;
}

footer.home {
  background-image: linear-gradient(0deg, #00A6FF 20%, #46D987 100%);
}

footer .grid--flex {
  margin: 4rem auto 1rem 0;
  padding: 4rem 0;
  position: relative;
  z-index: 3;
}

footer h4 {
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
}

footer ul {
  font-size: 1.4rem;
}

footer ul li {
  padding: 0 0 0.6rem;
}

footer a {
  color: white;
}

.contactbar {
  background-color: #00A6FF;
  padding: 2rem 0 1.4rem;
  text-align: right;
}

.contactbar a {
  color: white;
  display: inline-block;
  font-size: 1.8rem;
  transform: translateY(-3px);
}

.contactbar img {
  display: inline-block;
  height: 24px;
  margin-right: 1rem;
  margin-top: -1rem;
}



/****** BLOG *******/
.widthWrapper {
  max-width: 750px;
  margin: 0 auto;
}

#postIndex {
  margin: 3em auto;
}

article {
  margin-top: -0.063em;
}

article a {
  display: block;
  padding: 2.374em 2.5em 2.5em 2.5em;
  overflow: hidden;
  border-top: .063em solid #ccc;
  border-bottom: .063em solid #ccc;
}

article a:hover {
  background: #eee;
  border-top: #666 solid .25em;
  padding: 2.187em 2.5em 2.5em 2.5em;
}

.postImg {
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding-right: 2em;
}

.postImg img {
  width: 100%;
}

article a h2 {
  float: right; 
  width: 75%;
}

article a:hover h2 {
  color: #157EBF;
}

article a p {
  color: #444;
  float: right; 
  width: 75%;
}

article a:hover p {
  color: #222;
}

@media only screen and (max-width: 750px) {
  #postIndex {
    width: 100%;
  }

  article a {
    padding: 2.374em 1.5em 2.5em 1.5em;
  }

  article a:hover {
    padding: 2.187em 1.5em 2.5em 1.5em;
  }
}

@media only screen and (max-width: 481px) {
  .postImg {
    display: none;
  }

  article a p, article a h2 {
    width: 100%;
  }

}




/****** FORMS *******/

input {
    background-color:#FFF;
    color:#5b5e6d;
    text-decoration:none;
    border:1px solid #EBEBEB;
    border-radius:4px;
    box-shadow:none;
    padding:1.15rem 1rem;
    display:inline-block}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

input [type=email] {
background-color: #9f64ea;
  border-radius: 26px;
  color: white;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 6px 0;
  text-align: center;
  text-decoration: none;
  min-width: 160px;
  transition: background-color 0.2s;
    
} 


/****** UTILITIES *******/

img {
  max-width: 100%;
}

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}

.mobile {
  display: inherit;
}

.desktop {
  display: none;
}

.headline--hilite {
  color: #b9e5ff;
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: inherit;
  }

  .wave {
    background: url("./images/wave.svg") no-repeat -5px bottom;
    background-size: 102%;
  }
}